<div class="container-sm">

  <p>Ecosyste.ms provides a set of free and open resources for those working to sustain and secure open source software. Ecosystems publishes open data and APIs that maps software interdependency and provides data about its usage, creation and potential impact. Ecosystems is infrastrcuture for a generation of researchers, policymakers, developers, and funders to build upon.</p>

  <p>Ecosystems combines data from package registries, software repositories, vulnerability databases, containers, and operating systems. In doing so we will gain a more complete picture of open source, enabling us to identify keystone software ecosystems where code, and their communities, are considered critical, digital infrastrcuture.</p>

  <p>To find out more about what we're building check out our <a href="https://github.com/ecosyste-ms/.github/files/8815813/Ecosystems.Proposal.3.pdf">roadmap</a></p>

  <h3 class='my-4'>Support our work</h3>
  <p>Ecosystems is a project of Open Source Collective, a non-profit organization that is working to create a more sustainable future for open source software. Open Source Collective and Plaintext Group at Schmidt Futures are providing financial support to the project throughout 2022 and 2023. If you would like to support our work you can do so using credit or debit cards, bank transfers, or PayPal on <a href="https://opencollective.com/ecosystems">Open Collective</a>. If you would like to contribute on behalf of an organisation and require and invoice or contract, talk to the team at <a href="mailto:hello@oscollective.com">hello@oscollective.com</a>.</p>

  <h3 class='my-4'>Work with us</h3>
  <p>Our financial support will provide the framework to develop and launch Ecosystems in 2022, and to work in partnership with a small number of our intended users to co-design and exemplify the utility of the services we provide. If you’re interested in using Ecosystems: get in touch with the team at <a href="mailto:hello@ecosyste.ms">hello@ecosyste.ms</a>.</p>

  <h3 class='mt-5 mb-3'>Our Projects</h3>

  <% @services.each do |service| %>
    <div class="card mb-3 registry d-flex">
      <div class="card-body pb-1">
        <div class="d-flex">
          
          <div class="flex-grow-1 ms-3 text-break">
            <h5 class='card-title'>
              <% if service[:url] %>
                <%= link_to service[:name], service[:url], target: :_blank %>
                <% if service[:repo] %>
                  <%= link_to bootstrap_icon('github', height: 20), "https://github.com/ecosyste-ms/#{service[:repo]}", target: :_blank %>
                <% end %>
              <% else %>
                <%= service[:name] %> - <i>Coming soon</i>
              <% end%>
            </h5>
          
            <p class="card-subtitle mb-2 text-muted">
              <%= service[:description] %>
            </p>

            <% if service[:status] %>
              <p class="card-subtitle mb-2 text-danger">
                Status: <%= service[:status] %>
              </p>
            <% end %>

          </div>
          <div class="flex-shrink-0">
            <%= bootstrap_icon service[:icon], width: 40, height: 40 %>
          </div>  
        </div>
      </div>
    </div>
  <% end %>
</div>