<div class="gem-bg">
  <div class="container gem-bg__container">
    <%= image_tag("stone-1.svg", alt: "", class: "stone-1", size: "100x100") %>
    <%= image_tag("stone-2.svg", alt: "", class: "stone-2", size: "100x100") %>
    <%= image_tag("stone-3.svg", alt: "", class: "stone-3", size: "100x100") %>
  </div>
  <div class="home__hero py-5">
    <div class="container">
      <h1 class="display-1 home__hero__title mb-4">Open source intelligence for your project</h1>
      <p class="lead">Build open source intelligence into your application, research, or policy.</p>
    </div>
  </div>
  <div class="purple-grad-bg py-5 home__stat">
    <div class="container">
      <div class="stat-card mb-2">
        <div class="stat-card-body">
          <span class="stat-card-title">10.7 million</span>
          <span class="stat-card-text extra-small">Packages</span>
        </div>
      </div>
      <div class="stat-card mb-2">
        <div class="stat-card-body">
          <span class="stat-card-title">230 million</span>
          <span class="stat-card-text extra-small">Repositories</span>
        </div>
      </div>
      <div class="stat-card mb-2">
        <div class="stat-card-body">
          <span class="stat-card-title">19 billion</span>
          <span class="stat-card-text extra-small">Dependencies</span>
        </div>
      </div>
      <div class="stat-card mb-2">
        <div class="stat-card-body">
          <span class="stat-card-title">1.6 million</span>
          <span class="stat-card-text extra-small">Developers</span>
        </div>
      </div>
      <p class="lead home__stat-lead mt-4">The worlds most comprehensive and accurate dataset about open source production and use, <strong>for free</strong></p>
      <p class="home__stat-para mb-4">ecosyte.ms has indexed over six billion events across nearly two thousand sources to create the worlds most comprehensive and accurate dataset about open source production and use.</p>
    </div>
  </div>
</div>

<div class="grey-grad-bg py-5">
  <div class="container">
    <h2 class="mb-3">Trusted by</h2>
    <div class="row text-center align-items-center">
      <div class="col ">
        <a href="https://snyk.io">
          <%= image_tag("logo-snyk.png", alt: "Snyk", class: "img-responsive", size: "204x78") %>
        </a>
      </div>
      <div class="col">
        <a href="https://www.microsoft.com/ ">
          <%= image_tag("logo-microsoft.png", alt: "Microsoft", class: "img-responsive", size: "201x43") %>
        </a>
      </div>
      <div class="col">
        <a href="https://chanzuckerberg.com">
          <%= image_tag("logo-chan-z.png", alt: "Chan Zuckerberg Initiative", class: "img-responsive", size: "196x91") %>
        </a>
      </div>
      <div class="col">
        <a href="https://oscollective.org">
          <%= image_tag("logo-osc.png", alt: "Open Source Collective", class: "img-responsive", size: "204x41") %>
        </a>
      </div>
      <div class="col">
        <a href="https://socket.io">
          <%= image_tag("logo-socket.png", alt: "Socket.io", class: "img-responsive", size: "174x87") %>
        </a>
      </div>  
    </div>
  </div>
</div>
<div class="pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h2 class="display-1">Ready to use</h2>
        <p>ecosyste.ms is a set of free services and tools for developers, researchers and policymakers to help identify, secure and sustain open source software.</p>
      </div>
      <div class="col-lg-6 offset-lg-1">
    
        <div class="card promotion-card mb-3">
          <div class="row g-0">
            <div class="col-md-5">
              <div class="card-body">
                <span class="badge badge-info">New</span>
                <h3 class="card-title mt-3">Ecosyste.ms funds</h3>
                <p class="card-text">Sponsor the technology you rely on, we’ll do the rest</p>
                <p class="card-text"><a href="https://funds.ecosyste.ms">Find out more</a></p>
              </div>
            </div>
            <div class="col-md-7 text-center card-image">
                <%= image_tag("funds-screenshot.png", alt: " ", class: "img-fluid", size: "303x260") %>
            </div>
          </div>
        </div>
      </div>
    </div>
		<div class="directory mb-5">
			<div class="directory-section">
				<div class="directory-header">
					<div class="row mb-4">
						<div class="col-3 col-md-2 col-xl-1">
							<%= image_tag("data.svg", alt: " ", class: "img-fluid", size: "96x96") %>
						</div>		
						<div class="col-9 col-md-10 col-xl-11">	
							<h3 class="h2 mt-4 mb-1">Data</h3>
							<p>Core ecosyste.ms datasets</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-lg-3">
						<h4><a href="#">Packages</a></h4>
						<p>Metadata for 10.7m packages across 63 sources</p>		
					</div>
					<div class="col-md-4 col-lg-3">
						<h4><a href="#">Repositories</a></h4>
						<p>Metadata for 230m packages across 1877 sources</p>		
					</div>
					<div class="col-md-4 col-lg-3">
						<h4><a href="#">Advisories</a></h4>
						<p>Metadata for 20k security advisories across 12 languages (under development)</p>		
					</div>
				</div>
			</div>
			<div class="directory-section">
				<div class="directory-header">
					<div class="row mb-4">
						<div class="col-3 col-md-2 col-xl-1">
							<%= image_tag("data.svg", alt: " ", class: "img-fluid", size: "96x96") %>
						</div>		
						<div class="col-9 col-md-10 col-xl-11">	
							<h3 class="h2 mt-4 mb-1">Data</h3>
							<p>Core ecosyste.ms datasets</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-lg-3">
						<h4><a href="#">Packages</a></h4>
						<p>Metadata for 10.7m packages across 63 sources</p>		
					</div>
					<div class="col-md-4 col-lg-3">
						<h4><a href="#">Repositories</a></h4>
						<p>Metadata for 230m packages across 1877 sources</p>		
					</div>
					<div class="col-md-4 col-lg-3">
						<h4><a href="#">Advisories</a></h4>
						<p>Metadata for 20k security advisories across 12 languages (under development)</p>		
					</div>
				</div>
			</div>
			<div class="directory-section">
				<div class="directory-header">
					<div class="row mb-4">
						<div class="col-3 col-md-2 col-xl-1">
							<%= image_tag("data.svg", alt: " ", class: "img-fluid", size: "96x96") %>
						</div>		
						<div class="col-9 col-md-10 col-xl-11">	
							<h3 class="h2 mt-4 mb-1">Data</h3>
							<p>Core ecosyste.ms datasets</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-lg-3">
						<h4><a href="#">Packages</a></h4>
						<p>Metadata for 10.7m packages across 63 sources</p>		
					</div>
					<div class="col-md-4 col-lg-3">
						<h4><a href="#">Repositories</a></h4>
						<p>Metadata for 230m packages across 1877 sources</p>		
					</div>
					<div class="col-md-4 col-lg-3">
						<h4><a href="#">Advisories</a></h4>
						<p>Metadata for 20k security advisories across 12 languages (under development)</p>		
					</div>
				</div>
			</div>
		</div>
  </div>
</div>


<div class="container-sm">

  <p>
    Ecosyste.ms provides a set of free, open resources for those working to sustain and secure open-source software.
    We publish open data and APIs that map software interdependencies, offering insights into usage, creation, and impact.
    Ecosyste.ms serves as infrastructure for researchers, policymakers, developers, and funders, helping them better understand the open-source ecosystem.
  </p>

  <p>
    Ecosyste.ms combines data from package registries, software repositories, vulnerability databases, containers, and operating systems.
    By integrating this information, we create a comprehensive view of open-source software, identifying critical software ecosystems
    that form the backbone of our digital infrastructure.
  </p>

  <p>
    Discover what we’re building and our plans for the future in our <a href="https://github.com/ecosyste-ms/roadmap">roadmap</a>.
  </p>

  <h2>Support Our Work</h2>
  <p>
    Ecosyste.ms is a project of the Open Source Collective, a non-profit organization focused on creating a sustainable future for open-source software.
    In 2024, we continue to receive financial support from the Open Source Collective and Schmidt Futures’ Plaintext Group.
  </p>
  <p>
    You can support us via credit/debit cards, bank transfers, or PayPal through
    <a href="https://opencollective.com/ecosystems">Open Collective</a>. For organizational contributions or if you need an invoice, please contact us at
    <a href="mailto:hello@oscollective.com">hello@oscollective.com</a>.
  </p>

  <h2>Work With Us</h2>
  <p>
    In 2024, we're expanding our partnerships and working closely with key stakeholders to co-design and refine our services.
    If you're interested in collaborating or using Ecosyste.ms, reach out to us at
    <a href="mailto:hello@ecosyste.ms">hello@ecosyste.ms</a>.
  </p>


  <h3 class='mt-5 mb-3'>Our Projects</h3>

  <% @services.each do |service| %>
    <div class="card mb-3 registry d-flex">
      <div class="card-body pb-1">
        <div class="d-flex">
          
          <div class="flex-grow-1 ms-3 text-break">
            <h5 class='card-title'>
              <% if service[:url] %>
                <%= link_to service[:name], service[:url], target: :_blank %>
                <% if service[:repo] %>
                  <%= link_to bootstrap_icon('github', height: 20), "https://github.com/ecosyste-ms/#{service[:repo]}", target: :_blank %>
                <% end %>
              <% else %>
                <%= service[:name] %> - <i>Coming soon</i>
              <% end%>
            </h5>
          
            <p class="card-subtitle mb-2 text-muted">
              <%= service[:description] %>
            </p>

            <% if service[:status] %>
              <p class="card-subtitle mb-2 text-danger">
                Status: <%= service[:status] %>
              </p>
            <% end %>

          </div>
          <div class="flex-shrink-0">
            <%= bootstrap_icon service[:icon], width: 40, height: 40 %>
          </div>  
        </div>
      </div>
    </div>
  <% end %>
</div>