<script type="text/javascript">
document.addEventListener('DOMContentLoaded', () => {
	// Couldn't use position:sticky because of safari stacking order bug 
	
  // Select the .gem-bg element
  const gemBg = document.querySelector('.gem-bg__container');

  // Check if the element exists
  if (gemBg) {
    // Add a scroll event listener
    window.addEventListener('scroll', () => {
      // Get the current scroll position
      const scrollPosition = window.scrollY;

      // Apply a slower scrolling effect (adjust the divisor for speed)
      const offset = scrollPosition * 0.5; // Adjust multiplier for speed control

      // Update the transform property to move the element
      gemBg.style.transform = `translateY(${offset}px)`;
    });
  } else {
    
  }
});
</script>

<div class="gem-bg">
  <div class="container gem-bg__container">
    <%= image_tag("stone-1.svg", alt: "", class: "stone-1", size: "100x100") %>
    <%= image_tag("stone-2.svg", alt: "", class: "stone-2", size: "100x100") %>
    <%= image_tag("stone-3.svg", alt: "", class: "stone-3", size: "100x100") %>
  </div>
  <div class="home__hero py-5">
    <div class="container">
      <h1 class="display-1 home__hero__title mb-4">Open source intelligence for your project</h1>
      <p class="lead">Build open source intelligence into your application, research, or policy.</p>
    </div>
  </div>
  <div class="purple-grad-bg py-5 home__stat">
    <div class="container">
      <div class="stat-card mb-2">
        <div class="stat-card-body">
          <span class="stat-card-title">10.7 million</span>
          <span class="stat-card-text extra-small">Packages</span>
        </div>
      </div>
      <div class="stat-card mb-2">
        <div class="stat-card-body">
          <span class="stat-card-title">230 million</span>
          <span class="stat-card-text extra-small">Repositories</span>
        </div>
      </div>
      <div class="stat-card mb-2">
        <div class="stat-card-body">
          <span class="stat-card-title">19 billion</span>
          <span class="stat-card-text extra-small">Dependencies</span>
        </div>
      </div>
      <div class="stat-card mb-2">
        <div class="stat-card-body">
          <span class="stat-card-title">1.6 million</span>
          <span class="stat-card-text extra-small">Developers</span>
        </div>
      </div>
      <p class="lead home__stat-lead mt-4">The world's most comprehensive and accurate dataset about open source production and use, <strong>for free</strong></p>
      <p class="home__stat-para mb-4">ecosyte.ms has indexed over six billion events across nearly two thousand sources to create the world's most comprehensive and accurate dataset about open source production and use.</p>
    </div>
  </div>
</div>
<!--
<div class="grey-grad-bg position-rel py-5">
  <div class="container">
    <h2 class="mb-3">Trusted by</h2>
    <div class="row text-center align-items-center logo-grid">
      <div class="col">
        <a href="https://snyk.io">
          <%= image_tag("logo-snyk.svg", alt: "Snyk", class: "img-fluid p3", size: "172x90") %>
        </a>
      </div>
      <div class="col">
        <a href="https://www.microsoft.com/ ">
          <%= image_tag("logo-microsoft.png", alt: "Microsoft", class: "img-fluid p3", size: "201x43") %>
        </a>
      </div>
      <div class="col">
        <a href="https://chanzuckerberg.com">
          <%= image_tag("logo-chan-z.png", alt: "Chan Zuckerberg Initiative", class: "img-fluid p3", size: "196x91") %>
        </a>
      </div>
      <div class="col">
        <a href="https://oscollective.org">
          <%= image_tag("logo-osc.png", alt: "Open Source Collective", class: "img-fluid p3", size: "204x41") %>
        </a>
      </div>
      <div class="col">
        <a href="https://socket.dev">
          <%= image_tag("logo-socket.png", alt: "Socket.dev", class: "img-fluid p3", size: "171x69") %>
        </a>
      </div>  
    </div>
  </div>
</div>
-->
<div class="white-bg position-rel pt-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h2 class="display-1">Ready to use</h2>
        <p>ecosyste.ms is a set of free services and tools for developers, researchers and policymakers to help identify, secure and sustain open source software.</p>
      </div>
      <div class="col-lg-6 offset-lg-1">
    
        <div class="card promotion-card mb-3">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5">
              <div class="card-body">
                <span class="badge bg-primary">New</span>
                <h3 class="card-title mt-3">Ecosyste.ms funds</h3>
                <p class="card-text">Sponsor the technology you rely on, we’ll do the rest</p>
                <p class="card-text"><a href="https://funds.ecosyste.ms">Find out more</a></p>
              </div>
            </div>
            <div class="col-md-6 col-lg-7 text-center card-image">
                <%= image_tag("funds-screenshot.png", alt: " ", class: "card-image__img img-fluid", size: "303x260") %>
            </div>
          </div>
        </div>
      </div>
    </div>
		<div class="directory mb-5">
      <% Service.sections.each do |section| %>
        <div class="directory-section mb-5 pb-3">
          <div class="directory-header">
            <div class="row mb-4">
              <div class="col-3 col-md-2 col-xl-1">
                <%= image_tag(section[:icon], alt: " ", class: "img-fluid", size: "96x96") %>
              </div>		
              <div class="col-9 col-md-10 col-xl-11">	
                <h3 class="h2 mt-4 mb-1"><%= section[:name] %></h3>
                <p><%= section[:description] %></p>
              </div>
            </div>
          </div>
          <div class="row gx-5">
            <% section[:services].each do |service| %>
              <div class="col-md-4 col-lg-3">
                <h4><%= link_to service[:name], service[:url] %></h4>
                <p><%= service[:description] %></p>		
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
		</div>
  </div>
</div>
