<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Ecosyste.ms
    </title>
    <meta name="description" content="Tools and open datasets to support, sustain, and secure critical digital infrastructure.">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>
    <div class="main">
      <div class="px-4 container-sm pt-2 mt-5 text-center">
        <h1 class="display-5 fw-bold">
          <a href="/" class="text-decoration-hover link-dark">Ecosyste.ms</a>
        </h1>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4">
            Tools and open datasets to support, sustain, and secure critical digital infrastructure.
          </p>
        </div>
        <div class="alert alert-warning" role="alert">
          Ecosyste.ms is under heavy development, some services may be unavailable or in flux at this time.
        </div>
      </div>

      <%= yield %>
    </div>

    <footer class="py-6 container-sm text-muted text-center">
      <%= link_to 'Blog', "https://blog.ecosyste.ms", class: 'link-dark', target: :_blank  %> — 
      <%= link_to 'GitHub', "https://github.com/ecosyste-ms", class: 'link-dark', target: :_blank  %> — 
      <%= link_to 'Open Collective', "https://opencollective.com/ecosystems", class: 'link-dark', target: :_blank  %> — 
      <%= link_to 'Twitter', "https://twitter.com/ecosyste_ms", class: 'link-dark', target: :_blank  %>
      <br/>
      Code: <%= link_to 'AGPL-3', 'https://github.com/ecosyste-ms/home/blob/main/LICENSE', class: 'link-dark' %>  — 
      Data: <%= link_to 'CC BY-SA 4.0', 'https://creativecommons.org/licenses/by-sa/4.0/', class: 'link-dark', target: :_blank %>
    </footer>
  </body>
</html>
